<div [ngClass]="setClasses()">
    <ul class="list-group">
        <li class="list-group-item">
            <mat-checkbox
                (change)="onToggle(todo)"
                type="checkbox"
                [checked]="todo.completed"
            >
            {{ todo.title }}
            </mat-checkbox>
            <button (click)="onDelete(todo)" mat-fab aria-label="Example icon button with a heart icon" class="mat-focus-indicator mat-fab mat-button-base mat-accent mat-primary float-right">
                <span class="mat-button-wrapper">
                    <mat-icon _ngcontent-dof-c163="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">delete</mat-icon>
                </span>
            </button>
        </li>
    </ul>
</div>
