<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-7 p-lg-7 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Angular 8</h1>
        <p class="lead font-weight-normal">
            onstrua uma aplicação Web que irá utilizar as listagens de uma API Rest.
        </p>
        <p class="lead font-weight-normal">
            Esta aplicação deve conter os menus e/ou páginas: <br>
            POSTAGENS <br>
            ALBUNS <br>
            TO-DOs
        </p>
        <p class="lead font-weight-normal">
            A API a ser utilizada está publicada em <a href="https://jsonplaceholder.typicode.com/" target="_blank" rel="noopener noreferrer">https://jsonplaceholder.typicode.com/</a>
        </p>
        <p class="lead font-weight-normal">
            Utilizar Angular 8 junto com Angular Material ( <a href="https://material.angular.io/" target="_blank" rel="noopener noreferrer">https://material.angular.io/</a> ) para desenvolver a aplicação.
        </p>
        <a class="btn btn-outline-secondary" href="https://github.com/giandalpont/angular-8/" target="_blank">GitHub</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
